 @media only screen and (orientation: portrait) {
     body {
         font-size: 4vw;
     }
 }

 #List {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: auto;
     text-align: center;
 }


 .ListItem {
     padding: 1em;
 }

 .ItemTitle {
     flex: auto;
     font-weight: bold;
     font-size: larger;
     cursor: pointer;
     padding: 0.5em;
 }

 .Details {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0.25em;
 }

 [hidden] {
     display: none;
 }